/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.logo-icon {
    height: auto;
    width: auto;
    max-height: 48px;
    margin-top: 8px;
}

@media screen and (max-width: 600px) {
  .logo-icon {
    margin-top: 4px;
  }
}

.about-text {
  font-size: 1.3em;
}

.social-media-icon {
  display: inline-block;
  padding-right: 4px;
  font-size: 20px;
}

.footer-p {
  padding-right: 3em;
}

.nav-container {
  padding: 0 1em;
}

#map {
  height: 300px;
  width: 80%;
  margin: auto;
}

.contact-info-container > h5 {
  margin: auto;
  text-align: center;
  font-weight: 400;
  line-height: 40px;
}

.contact-info-container > p {
  margin: auto;
  text-align: center;
  line-height: 25px;
}

.model-container {
  position: relative;
  width: 800px;
  max-width: 100%;
  margin: auto;
}